body{
    font-family: 'Vina Sans', cursive;
    margin: 0px;
}

h1{
    font-size: 50px;
    color: rgb(219, 126, 11);
}
.name{
    color: darkblue;
}

section{
    display: flex;
    padding-left: 10px;
    
}

.sectionone{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-with{
    width: 50%;
}

.half-with img{
    width: 70%;
    margin-left: 50px;
    margin-top: 15px;
}
.hare{
    background-color: orange;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 400;
}
.big-Dream{
    background-color: azure;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}